/*Primari colors*/
$mainBg: hsl(233, 47%, 7%);
$cardBg: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);
/*Neutral*/
$mainHeading: hsl(0, 0%, 100%);
$mainParaghrap: hsla(0, 0%, 100%, 0.75);
$statHeadings: hsla(0, 0%, 100%, 0.6);
/*Fonts*/
$inter: 'Inter', sans-serif; /*400, 700*/
$lexend: 'Lexend Deca', sans-serif;/*400*/

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $mainBg;
}

.container
{
    width: 1111px;
    height: 445px;
    background-color: $cardBg;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    overflow: hidden;
}

.card-text
{
    width: 50%;
    height: 100%;
    padding: 55px;
    display: grid;
    
    h1
    {
        font-weight: 700;
        font-family: $inter;
        color: $mainHeading;
        font-size: 2.5rem;
        margin: auto 0;
        spam
        {
            color: $accent;
            font-size: 2.5rem;
        }  
    }
    
    .paraghrap
    {
        width: 85%;
        font-family: $inter;
        color: $mainParaghrap;
    }
    
    .stat
    {
        bottom: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: auto auto 0 auto;
        
        h1 
        {
            margin: auto 0 5px 0;
            grid-row: 1 / 2;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
        p 
        {
            color: $mainParaghrap;
            text-transform: uppercase;
        }
    }
}

.card-image
{
    width: 50%;
    height: 100%;
    background-image: url(../images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}